<h1>Listing articles</h1>

<div class="new_button">
  <%= link_to 'New Article', new_article_path %>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
      </tr>
  <% end %>
</table>